   {% extends 'index.html' %}

    {% block content %}
    {% load staticfiles %}


    	 <section id="price">
        <div class="container">
           
                    <div class="block">                        
                        <div class="pricing-list">
                            <div class="title">
                                <h3>Featured on <span>Chemistry</span></h3>
                            </div>
                            <ul>
                            	<div class="jumbotron">
                            	{% for detail in details %}
                                
  						<h1>{{detail.topics}}</h1>
  						<p>{{detail.theory}}</p>
  						<p><a class="btn btn-primary btn-sml" href="#" role="button">Learn more</a></p>
  						 <br><div class="border-bottom"></div><br>
								                                {% endfor %}
                               </div>

                            </ul>
                           
                        </div>
                    </div>
            
        </div><!-- .containe close -->
    </section><!-- #price close -->

    {% endblock %}