{% load staticfiles %}

<html>
	<head>
		<title>{{descriptions.topics}}
</title>
		<!--<link rel="shortcut icon" type="image/x-icon" href="images/pageicon.png" />-->
		{% include 'base_html.html' %}
		<meta name="keywords" content="Videostube iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>

	</head>

	<body>
	
		<!----start-wrap---->
	<div class="wrap">
		<!----start-Header---->
		<div class="header">
			<!----start-Logo---->
			<div class="logo">
				<a href="index.html"><h1>EduSpace</h1></a>
			</div>
			<!----End-Logo---->
			<!----start-top-nav---->
			
			<div class="clear"> </div>
			<div class="top-nav">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href=" {% url 'physics' 5 %}">Physics</a></li>
					<li><a href="{% url 'chemistry' 6 %}">Chemistry</a></li>
					<li><a href="#">Math</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
			<!----End-top-nav---->
		</div>
		<!----End-Header---->

		<div class="content">
			<h1>{{descriptions.topics}}</h1>
			<br>
			{{descriptions.theory}}
			<br>
			{{descriptions.details}}

			<br>
{% if descriptions.topics == "Force and Pressure" %}
<iframe width="700" height="400" src="https://www.youtube.com/embed/4OlGpS2LG_M" frameborder="0" allowfullscreen></iframe>
{% endif %}

		</div>

		

</body>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script> 
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
  
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug--> 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!--<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>-->





</html>





